html {height:100%;}
	body {background-attachment:fixed; background-color:#1a1a1a; background-repeat:no-repeat; color:#fff; font:14px Arial, Helvetica, sans-serif; height:100%; margin:0;
		background:linear-gradient(#030303 100px, #1a1a1a); background:-moz-linear-gradient(#030303 100px, #1a1a1a); background:-ms-linear-gradient(#030303 100px, #1a1a1a); background:-o-linear-gradient(#030303 100px, #1a1a1a); background:-webkit-linear-gradient(#030303 100px, #1a1a1a);
	}
		header {height:80px;}
			header div {margin:0 auto; width:960px;}
				header section {font-size:32px; font-weight:bold; text-shadow:5px 5px 5px #000; height:80px; width:320px;
					background:linear-gradient(left, #030303 1%, #222 40%, #222 45%, #030303 99%); background:-moz-linear-gradient(left, #030303 1%, #333 40%, #333 45%, #030303 99%); background:-ms-linear-gradient(left, #030303 1%, #333 40%, #333 45%, #030303 99%); background:-o-linear-gradient(left, #030303 1%, #333 40%, #333 45%, #030303 99%); background:-webkit-linear-gradient(left, #030303 1%, #333 40%, #333 45%, #030303 99%);
				}
					header section div {background:url('/include/img/logo.svg') no-repeat 150px 12px; padding:20px 0 0 20px;}
						header section a, header section a:link, header section a:visited {color:#fff; text-decoration:none;}
							header section a span {color:#7ebe32}
		article {background:#f5f5f5; box-shadow:10px 10px 15px #000; color:#1a1a1a; margin:0 auto; min-height:160px; padding:20px 10px; width:940px;}
			h1 {background:#7ebe32; color:#f5f5f5; display:block; font-size:32px; margin:0 0 10px 0; padding:3px; text-align:center;}
			a, a:link, a:visited {color:#7ebe32;}
				a:hover, a:active {color:#666;}
		footer {color:#666; margin:0 auto; padding:20px 5px; width:950px;}
			footer span {color:#fff;}
			footer a, footer a:link, footer a:visited {color:#666;}
				footer a:hover, footer a:active {color:#7ebe32;}